#p2
{
    color: blueviolet;
    text-align: right;
}
.p3
{
    font-weight: bold;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a
{
    color: brown;
    font-size: 20px;
}
a:hover
{
    font-size: 50px;
}